@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title</h2>

<p>SCW Librería Digital es un módulo que sirve para empresas que quieran vender artículos tipo libros y revistas de cualquier tipo donde el cliente podrá realizar cotizaciones de sus productos. SCW Librería Digital fue realizado por el equipo de desarrollo de Ingeniería de Software III de la Facultad de ingeniería de sistemas de la Universidad Antonio Nariño.</p>