@{
    ViewBag.Title = "Contáctenos";
}
<h2>@ViewBag.Title</h2>


<address>
    SCW Libreria Digital<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    320.808.0181
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@scwlibdigital.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@scwlibdigital.com</a>
</address>