<div class="jumbotron">
    <h1>SCW Libreria Digital</h1>
    <p class="lead">
        SCW Librería Software es una librería Virtual que ofrece productos como libros, revistas y Artículos acerca de desarrollo e ingeniería de software.
        Conozca nuestros productos y realice la consignación para atenderlos.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Regístrate</h2>
        <p>
            Unete a nuestra línea de clientes y recibe hasta el 10% de descuento por articulo, realizar cotizaciones y participa en premios especiales.
        </p>
        <p><a class="btn btn-default" href="">Registrarse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ingrese a nuestro Sistema</h2>
        <p>Ya registrado en nuestro sistema, Puede Ingresar y realizar cotizaciones de todos los articulos </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ingresar &raquo;</a></p>*@
        @*<p>@Html.ActionLink("Lista de Productos", "Index", "Administrador")</p>*@

    </div>
    <div class="col-md-4">
        <h2>Chat</h2>
        <p>Utiliza nuestro chat y conversa con nosotros para obtener informacion sobre libros, articulos, cotizaciones o sobre SCW Libreria Digital.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ir al Chat &raquo;</a></p>
    </div>
</div>
<body background="~/Content/Images/backgroudn.jpg">
</body>